<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>MyJMH App Download</title>
  </head>
  <body>
    <h1>
    Download the latest version of the MyJMH mobile app here for iOS:
    <a href="itms-services://?action=download-manifest&amp;url=https://<%= @user %>:<%= @passwd %>@<%= @server %>/download/manifest.plist">DOWNLOAD</a>
    </h1>
  </body>
</html>