<html>

<head>
  <title>JMH E-Business Build Server</title>
</head>

<body>

<ul>
  <li> <a href="/bamboo">Bamboo Server</a></li>
  <li> <a href="/jenkins">Jenkins Server</a></li>
  <li> <a href="/lighthouse_reports">Lighthouse Reports</a></li>

</ul>
</body>

</html>