<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Page Not Found</title>
	
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="stylesheet" href="/jmherror/css/clientlib-all.css" type="text/css">
	<link rel="stylesheet" href="/jmherror/css/navigationComponent.css" type="text/css">
	<link rel="stylesheet" href="/jmherror/css/inlineNavComponent.css" type="text/css">
	<link rel="stylesheet" href="/jmherror/css/footerComponent.css" type="text/css">
	
	<style type="text/css">
	.errorContent {
		padding-left: 2%;
	}
	</style>
	
</head>
<body class="design62 publish">
	<div class="site-wrapper">
		<header>
			<div class="reference parbase">
				<div class="cq-dd-paragraph">
					<div class="fragment-par parsys">
						<div class="navigationComponent parbase section">
							<nav class="responsive-navigation bg-color-transparent ">
								<section class="jmh_header_primary-menu">
									<div class="width-limit">
										<div id="mobileHeader" class="width-padding">
											<div class="aem-Grid aem-Grid--12">
												<div class="logo-wrap aem-GridColumn aem-GridColumn--default--2 aem-GridColumn--xs--12 aem-GridColumn--sm--12">
													<div class="JMHlogo">
														<a href="/">
														<img src="/jmherror/img/logo.png" class="cq-dd-image" data-emptytext="Image" alt="" />
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</section>
							</nav>
						</div>
						<div class="inlineNavComponent parbase section">
							<nav class="inline-navigation " data-background-opacity=".9">
								<section class="jmh_header_secondary-menu o90-md">
								</section>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</header>
		<div class="site-content">
			<div class="columnComponent">
				<article class="responsive-column-component">
					<div class="column-wrapper bg-color-transparent o10">
						<div class="container">
							<div class="aem-Grid aem-Grid--12">
								<div class="aem-GridColumn aem-GridColumn--lg--8 aem-GridColumn--md--8 aem-GridColumn--sm--8 aem-GridColumn--xs--8">
									<div class="errorContent">
										<!-- START MAINTENANCE MESSAGE HERE -->  
						
										<h2 class="h3">We're sorry for the inconvenience...</h2> 
										<p>
										Unfortunately, you seem to have requested a page that doesn't exist.<br><br>
										<a href="/">Return to home page</a>
										</p>

										<!-- END MAINTENANCE MESSAGE HERE --> 
									</div>
								</div>
								<div class="aem-GridColumn aem-GridColumn--lg--4 aem-GridColumn--md--4 aem-GridColumn--sm--4 aem-GridColumn--xs--4">
									<div class="errorContent">
										<img src="/jmherror/img/baby.jpg" alt="" style="position: relative; margin-top: -42px;" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</article>
			</div>
		</div>
	</div>
	<footer>
	<div class="reference parbase">
		<div class="cq-dd-paragraph">
			<div class="fragment-par parsys">
				<div class="footerComponent parbase section">
					<footer class="page-footer  bg-color-light-grey ">
						<div class="container">
							<div class="aem-Grid aem-Grid--12">
								<div class="aem-GridColumn aem-GridColumn--lg--4 aem-GridColumn--md--4 aem-GridColumn--sm--6 aem-GridColumn--xs--12">								
									<div class="footnote">
										<div>
											<p>&copy; <script type="text/javascript">document.write(new Date().getFullYear());</script> John Muir Health All rights reserved.</p>
										</div>
									
										<div class="joint-commission">
											<p>John Muir Health is accredited by The Joint Commission.&nbsp;</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</footer>
				</div>
			</div>
		</div>
	</div>
	</footer>
</body>
</html>